.navbar {
  display: flex;
  height: 5rem;
  width: 100vw;
  justify-content: space-between;
  position: fixed;
  background-color: black;
}

.navbar-left-container {
  display: flex;
  align-items: center;
  padding-left: 4rem;
  color: #e5e5e5;
  text-decoration: none;
}
.navbar-logo {
  height: 3.95rem;
}
.navbar-title {
  padding-left: 1rem;
  font-size: 2rem;
}

.navbar-right-container {
  display: flex;
  align-items: center;
  padding-right: 4rem;
}
.navbar-right-container > * {
  padding: 0.5rem;

  color: #e5e5e5;
  font-size: 1.1rem;
  text-decoration: none;
}
