.navbar {
  display: flex;
  height: 4rem;
  width: 100vw;
  justify-content: space-between;
  position: fixed;

  background-color: black;
}

.navbar-left-container {
  display: flex;
  align-items: center;
  color: white;
}

.navbar-right-container {
  display: flex;
  align-items: center;
}
.navbar-right-container > * {
  padding: 0.5rem;
  color: white;
}