.featured-card {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
  flex-flow: row wrap;
  align-items: center;
  background-color: #400101;
  padding: 50px 0;
}
.featured-card-image {
  width: 40%;
}
.featured-card-text {
  display: flex;
  flex-direction: column;
  border-width: 0.1em;
  width: 40%;
  color: white;
}

a:link {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .featured-card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 0;
    justify-content: center;
  }

  .featured-card-image {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .featured-card-text {
    width: 80%;
    line-height: 2rem;
    font-size: 1.25rem;
    margin-top: 20px;
    row-gap: 30px;
    text-align: center;
  }

}