body {
    background-color: #400101;;
}

/* convert pxs to vh and vw */

.detail {
display: flex;
}

.wine-detail-image {
position: relative;
justify-content: left;
align-items: flex-start;
width: 35vw;
height: 35vh;
left: 10em;
top: 8em;

}

.wine-detail-name {
position: relative;
width: 55vw;
height: 20vh;
left: 20em;
top: -9em;

font-family: Lustria;
font-style: normal;
font-weight: normal;
font-size: 5em;
line-height: 2em;
flex-wrap: nowrap;

color: white;

}

.wine-detail-vineyard {

    position: relative;
    width: 55vw;
    height: 20vh;
    left: -1.8em;
    top: -9em;
    
    font-family: Lustria;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    line-height: 2em;
    flex-wrap: nowrap;
    
    color: white;


color: #FFFFFF;

}

.wine-detail-year {

position: relative;
width: 51px;
height: 31px;
left: 698px;
top: 316px;

font-family: Lustria;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
/* identical to box height */


color: #FFFFFF;
}

.wine-detail-description {
    position: relative;
width: 530px;
height: 258px;
left: 698px;
top: 358px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;

}

.wine-detail-edit-button {
position: relative;
width: 165px;
height: 65px;
left: 698px;
top: 668px;

background: #8C0D17;
border-radius: 10px;
}

.wine-detail-delete-button {

position: relative;
width: 165px;
height: 65px;
left: 890px;
top: 666px;

background: #8C0D17;
border-radius: 10px;
}

.all-wines-detail {

position: relative;
width: 279px;
height: 431px;
left: 105px;
top: 942px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;

}