/* body {
    background-color: #400101;;
} */

/* convert pxs to vh and vw */

.wine-detail-image {
position: absolute;
width: 471px;
height: 436px;
left: 158px;
top: 230px;

}

.wine-detail-name {
    position: absolute;
width: 534px;
height: 116px;
left: 698px;
top: 177px;

font-family: Lustria;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 64px;

color: #FFFFFF;

}

.wine-detail-vineyard {

position: absolute;
width: 465px;
height: 31px;
left: 698px;
top: 262px;

font-family: Lustria;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
/* identical to box height */


color: #FFFFFF;

}

.wine-detail-year {

position: absolute;
width: 51px;
height: 31px;
left: 698px;
top: 316px;

font-family: Lustria;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
/* identical to box height */


color: #FFFFFF;
}

.wine-detail-description {
    position: absolute;
width: 530px;
height: 258px;
left: 698px;
top: 358px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;

}

.wine-detail-edit-button {
position: absolute;
width: 165px;
height: 65px;
left: 698px;
top: 668px;

background: #8C0D17;
border-radius: 10px;
}

.wine-detail-delete-button {

position: absolute;
width: 165px;
height: 65px;
left: 890px;
top: 666px;

background: #8C0D17;
border-radius: 10px;
}

.all-wines-detail {

position: absolute;
width: 279px;
height: 431px;
left: 105px;
top: 942px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;

}