.sort-dropdown {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.sort-dropdown select {
  background-color: #8c0d17;
  color: white;
  font-size: 25px;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  -webkit-appearance: none;
  appearance: none;
  width: 190px;
}
.select-wrapper {
  position: relative;
}
.select-wrapper::after {
  content: "▼";
  color: white;
  font-size: 1rem;
  top: 38%;
  right: 10%;
  position: absolute;
}

.sort-dropdown select:focus {
  outline: none;
}

@media screen and (max-width: 757px) {
  .sort-dropdown {
    justify-content: center;
  }
}
