.sort-dropdown {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.sort-dropdown select {
  background-color: #8c0d17;
  color: white;
  font-size: 25px;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
}

.sort-dropdown select:focus {
  outline: none;
}

@media screen and (max-width: 757px) {
  .sort-dropdown {
    justify-content: center;
  }
}
