.all-wines {
  display: flex;
  width: 80%;
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (max-width: 757px) {
  .all-wines {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
}
