.heading-wine-add {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  line-height: 6vh;
}
.add-form-container {
  padding: 0;
  margin-bottom: 5vh;
  display: grid;
  background-color: #400101;
  color: white;
  width: 65.60vw;
  height: 132.31vh;
  justify-content: center;
  column-gap: 30vw;
  grid-template-areas: 
  "A B"
  "A B"
  "C C"
  ;
}

.add-image-container {
  position: relative;
  margin: 0;
  padding: 0;
}

.wine-image {
  grid-area: A;
  position: absolute;
  width: auto;
  max-width: 26.042vw;
  height: auto;
  max-height: 73.52941176470588vh;
  margin-top: 11.68vh;
  overflow: hidden;
}

.wine-description-container {
  display: flex;
  flex-direction: column;
  grid-area: C;
  margin-bottom: 10vh;
  font-family: inherit;
}
.wine-description-label {
  font-size: 1.25rem;
  margin-bottom: 1vh;
}

.textarea-description {
  width: 56.61vw;
  height: 400px;
  margin-bottom: 3vh;
  overflow-wrap:break-word;
  resize: none;
  padding: 10px;
  font-size: 1.25rem;
}

.add-button {
  width: 11.35vw;
  height: 2.5rem;
  border: none;
  padding-top: .3rem;
  align-content: center;
  border-radius: 0.52vw;
  background-color: #8C0D17;
  color: white;
  text-align: center;
  align-self: center;
  justify-content: center;
}

.add-form {
  grid-area: B;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  margin-top: 10.8vh;
  margin-bottom: 0;
  padding: 0;
}

.wine-name-label {
font-size: 1.25rem;
}

.input-name {
  width: 26.5vw;
  height: 5.47vh;
  font-size: 1.25rem;
  font-family: inherit;
}

.vineyard-name-label {
  font-size: 1.25rem;
}

.input-vineyard {
  width: 26.5vw;
  height: 5.47vh;
  font-size: 1.25rem;
  font-family: inherit;
}

.year-label {
  font-size: 1.25rem;
}

.input-year {
  width: 26.5vw;
  height: 5.47vh;
  font-size: 1.25rem;
  font-family: inherit;
}

.image-link-label {
  font-size: 1.25rem;
}

.input-image-link {
  width: 26.5vw;
  height: 5.47vh;
  font-size: 1.25rem;
  font-family: inherit;
}

.dropdown-type-label {
  font-size: 1.25rem;
}

.dropdown-type {
  width: 26.5vw;
  height: 5.47vh;
}
