.edit-form-container {
  padding: 0;
  margin-bottom: 5vh;
  display: grid;
  background-color: #400101;
  color: white;
  width: 65.60vw;
  height: 132.31vh;
  justify-content: center;
  column-gap: 30vw;
  grid-template-areas: 
  "A B"
  "A B"
  "C C"
  ;
}

.edit-image-container {
  position: relative;
  margin: 0;
  padding: 0;
}

.edit-wine-image {
  grid-area: A;
  position: absolute;
  width: auto;
  max-width: 26.042vw;
  height: auto;
  max-height: 73.52941176470588vh;
  margin-top: 11.68vh;
  overflow: hidden;
}

.edit-wine-description-container {
  display: flex;
  flex-direction: column;
  grid-area: C;
  margin-bottom: 10vh;
  font-family: inherit;
  overflow-wrap:break-word;
}

.edit-form {
  grid-area: B;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  margin-top: 10.8vh;
  margin-bottom: 0;
  padding: 0;
}

.edit-input-name {
  width: 26.5vw;
  height: 5.47vh;
  font-size: 1.25rem;
  font-family: inherit;
}

.edit-input-vineyard {
  width: 26.5vw;
  height: 5.47vh;
  font-size: 1.25rem;
  font-family: inherit;
}

.edit-input-year {
  width: 26.5vw;
  height: 5.47vh;
  font-size: 1.25rem;
  font-family: inherit;
}

.edit-input-image-link {
  width: 26.5vw;
  height: 5.47vh;
  font-size: 1.25rem;
  font-family: inherit;
}

.edit-dropdown-type {
  width: 26.5vw;
  height: 5.47vh;
}

@media screen and (max-width: 1025px) {
  .heading-wine-add {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 4vh;
  }

  .edit-form-container {
    width: 80vw;
    padding: 0;
    margin: 0;
    align-items: center;
    height: auto;
    display: grid;
    grid-template-areas:
      "A"
      "B"
      "C";
  }

  .edit-form {
    grid-area: A;
    align-items: center;
    width: 100%;
    margin-top: auto;
  }

  .edit-image-container {
    width: 100%;
    height: auto;
    margin: 0;
    align-items: center;
  }

  .edit-wine-image {
    grid-area: B;
    padding: 0;
    max-width: 80%;
    max-height: 80%;
    text-align: center;
    margin-left: 8vw;
    margin-bottom: 2.84vh;
    margin-top: 0;
    overflow:hidden;
    position: relative;
  }

  .edit-wine-description-container {
    grid-area: B;
    width: 100%;
    align-items: center;
  }

  .edit-input-name {
    width: 75vw;
    padding-left: 5px;
    text-align: center;
    height: 8vh;
    font-size: 2.25rem;
  }

  .edit-input-vineyard {
    width: 75vw;
    padding-left: 5px;
    height: 8vh;
    font-size: 2.25rem;
    text-align: center;
  }

  .edit-input-year {
    width: 37.7vw;
    padding-left: 5px;
    height: 8vh;
    font-size: 2.25rem;
    text-align: center;
  }

  .edit-input-image-link {
    width: 75vw;
    padding-left: .4rem;
    height: 8vh;
    font-size: 2.25rem;
    text-align: center;
  }

  .edit-dropdown-type {
    width: 37.7vw;
    padding-left: 5px;
    height: 8vh;
    font-size: 1.25rem;
    text-align: center;
  }

  .edit-textarea-description {
    width: 75vw;
    padding-left: .4rem;
    height: 300px;
    font-size: 2.25rem;
  }

  .wine-name-label {
    font-size: 2.25rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .vineyard-name-label{
    font-size: 2.25rem;
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
  }

  .year-label {
    font-size: 2.25rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .image-link-label {
    font-size: 2.25rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .dropdown-type-label {
    font-size: 2.25rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .wine-description-label {
    margin-top: .75rem;
    font-size: 2.25rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .add-button {
    height: 80px;
    width: 200px;
    margin-top: 7vh;
    margin-bottom: 0;
  }
}
