
/* landing */
.landing-section {
  height: 90vh;
  width: 100vw;
  position: relative;
  
  background: url("./NewHomeBanner3.png") no-repeat center;
  background-size:cover;
  /* background url will have to change based on responsiveness */
}

.landing-button {
  position: absolute;
  top: 60vh;
  left: 60vw;
  height: 3rem;
  width: 15rem;

  color: #8C0D17;
  border: none;
  font-size: 1.5rem;
  text-align: center;
  background-color: transparent;
}
.landing-button:hover {
    border-radius: 4px;
    background-color: #8c0d17;
    color: #e5e5e5;
    transition: 0.5s;
}

 .home-button {
   height: 2.5rem;
   width: 15rem;
   color: #8C0D17;
   border: none;
   font-size: 1.5rem;
   text-align: center;
   background-color: transparent;
 }

 /* who */
 .who-section, .winner-section {
   /* height: 40vh; */
   margin-top: 8rem;
 }
 .who-container {
   display: flex;
  width: 70vw;
 }
 .who-image {
  /* width: 50%; */
  overflow:hidden;
 }
 .who-image img {
   width: 100%;
 }
 .who-content {
  color: white;
margin: 2rem 2rem;
 }
 .who-content-title {
font-size: 2rem;
 }
 .who-content-text {
  font-size: 1.3rem;
 }

 /* winner */
 .winner-wines-container {
color: white;
text-align: center;
/* margin-top: 2rem; */
margin-bottom: 4rem;
 } 
.winner-wines-title {
  font-size: 2rem;
 }
 .winner-wines-text {
  font-size: 1.3rem;
 }
 /* winner + community button */
 .who-button, .community-button {
  height: 2.5rem;
  width: 17rem;

  background-color: #8c0d17;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  text-align: center;
}

 /* community */
 .community-section {
   height: 90vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   background: url("./Collage.jpeg") no-repeat center;
   background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("./Collage.jpeg");
   background-size: cover;
   color: white;
  text-align: center;
 }
 .community-section::backdrop {
   background-color: rgba(0,0,0,1)
 }
 .community-title {
  font-size: 2rem;
  margin: 2rem 0 ;
 }
 .community-text {
  width: 60vw;
  padding: 2rem 0;
  margin: 4rem 0;
  align-self: center;

  background-color: rgba(255,255,255, 0.23);
  font-size: 1.3rem;
 }


 /* carousel */
.carousel-row{
  display: flex;
  margin: 2rem auto;
  text-align: center;
  justify-content: center;
   width: 100%;
 }
 .carousel-control-prev {
   margin-left: -100px;
  }
  
  .carousel-control-next {
    margin-right: -100px;
  }
  
  /* decreases clickable area of buttons */
/* .carousel-control-next, .carousel-control-prev {
 height: 5rem; 
 margin: auto;
} */